---
// import Layout from '../layouts/BlogPost.astro';

interface MarkdownFrontmatter {
  publishDate: number;
  slug: string;
}

let title = 'Clarkio | Blog';
let description = 'Writings by clarkio.'
let permalink = `https://clarkio.com/blog`;

let allPosts = Astro.fetchContent<MarkdownFrontmatter>('./blog/*.md');
console.log(allPosts);
allPosts = allPosts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());

export async function getStaticPaths({allPosts}) {
  let allPostsA = Astro.fetchContent<MarkdownFrontmatter>('./blog/*.md');
  let allOldPostsUnique = [...new Set(allPostsA.map(p => p.slug))];
  return allOldPostsUnique.map(slug => ({params: {slug}, props: {allPostsA}}));
}

const astroParams = Astro.request.params;
console.log(astroParams);
---

<!-- <Layout content={{ title, description }}> -->
  <main>
    <div class="layout">
      <article class="content">
        <section>
        </section>
      </article>
    </div>
  </main>
<!-- </Layout> -->
