---
import Layout from '../layouts/Main.astro';

let title = 'Clarkio | About';
let description = 'Learn about clarkio.'
let permalink = 'https://clarkio.com/about';
---

<Layout content={{ title, description, permalink }}>
  <div class="content">
    Learn about Clarkio on this page.
  </div>
</Layout>
