---
import Layout from '../layouts/Main.astro';

let title = 'Clarkio | About';
let description = 'Learn about clarkio.'
let permalink = 'https://clarkio.com/about';
---

<Layout content={{ title, description, permalink }}>
  <div class="content">
    <h3>Short:</h3>
    Brian programs for a living with a focus on JavaScript. He shares a lot of it online and in his live streams on <a href="https://twitch.tv/clarkio">Twitch</a>.

    <h3>Long:</h3>
    Brian is a developer who has been building and architecting software for all different types of purposes and applications. His initial focus was on <a href="https://www.asp.net/">ASP.NET</a>, <a href="https://www.microsoft.com/net/">C#/.NET</a>, SQL and WPF, but he has since shifted to technologies such as <a href="https://swift.org/getting-started/">Swift</a>, <a href="http://ionicframework.com/">Ionic</a>, <a href="https://angular.io/">Angular</a> and <a href="https://nodejs.org">Node.js</a> (basically JavaScript). Brian is an <a href="https://www.pluralsight.com/authors/brian-clark">author of several courses</a> on <a href="https://www.pluralsight.com/">Pluralsight</a> and co-authored the <a href="https://angular.io/docs/ts/latest/guide/security.html">Angular Security Guide</a> documentation. He has presented many talks at public and private conferences as well as at local code camps covering topics such as secure application development practices and getting started in Open Source Software. You can best get in touch with him on <a href="https://twitter.com/_clarkio">Twitter</a>, <a href="https://github.com/clarkio">GitHub</a> or at clarkio.com.

    Brian also hosts regular live code stream sessions on <a href="https://twitch.tv/clarkio">Twitch</a>. There you'll find him working on the various GitHub projects you see below. He also shares how he prepares for upcoming talks, tips and tricks on the latest features found in VS Code and views behind the scenes of conferences as an attendee.

    <h3>Publishings</h3>

    <ul>
      <li><a href="https://angular.io/docs/ts/latest/guide/security.html">Angular Security Guide</a></li>
      <li><a href="https://nodejs.medium.com/node-js-api-field-guide-the-dos-and-donts-in-using-node-js-to-build-apis-66f582f983">Node.js API Field Guide</a>: <a>(pdf)</a>
      </li>
    </ul>

    <h3>GitHub Projects of Note</h3>

    <ul>
      <li>
        <a href="https://github.com/clarkio/vscode-twitch-highlighter">vscode-twitch-highlighter</a>: A VS Code extension that integrates with Twitch chat that allows viewers to highlight lines of code via commands. The idea is this will help point out issues a viewer may have caught but the streamer missed.
      </li>
      <li><a href="https://github.com/clarkio/snyk-cli-action">snyk-cli-action</a>: A GitHub Action that integrates the Snyk CLI tool into workflows.</li>
      <li><a href="https://github.com/clarkio/macos-wifiname">wifiname</a>: A macOS toolbar app that displays the name of the wifi to which your device is currently connected.</li>
      <li><a href="https://github.com/clarkio/azure-mask">azure-mask</a>: A browser extension built with [Anthony Chu](https:twitter.com/nthonychu) that can be used to obfuscate subscription ID's when presenting the Azure portal website on your screen.</li>
      <li><a href="https://github.com/clarkio/ttv-chat-bot">ttv-chat-bot</a>: A Twitch chat bot that will listen for commands to control internet connected lights and on stream overlay color.</li>
      <li><a href="https://github.com/dhanishgajjar/vscode-icons">vscode-icons</a>: A project I've contributed to that provides custom app icons for VS Code instead of the default one.</li>
      <li><a href="https://github.com/Azure-Samples/angular-cosmosdb/tree/insecure-heroes">insecure-heroes</a>: A sample Angular application that is used to demonstrate web application security topics.</li>
      <li><a href="https://github.com/clarkio/vulnerable-app">vulnerable-app</a>: A sample AngularJS application that is used to demonstrate web application security topics.</li>
      <li><a href="https://github.com/clarkio/cert-sig-alg">cert-sig-alg</a>: A CLI tool that will determine the signature algorithm used in the SSL certificate for a list of domains.</li>
      <li><a href="https://github.com/clarkio/ios-favorite-movies">ios-favorite-movies</a>: A sample iOS app that allows the user to search for movies and add them to a list as their favorite.</li>
      <li><a href="https://github.com/clarkio/node-web-push">node-web-push</a>: A demo Node.js application that uses the Web Push protocol to be used with Progressive Web Application clients.</li>
      <li><a href="https://github.com/clarkio/house-bot">house-bot</a>: A serverless AI bot using Azure Functions to receive text commands for controlling internet connected light bulbs.</li>
    </ul>
  </div>
</Layout>
