---
import Layout from '../layouts/Main.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';

interface MarkdownFrontmatter {
  publishDate: number;
}

let title = 'Clarkio | Blog';
let description = 'Writings by clarkio.'
let permalink = 'https://clarkio.com/blog';

let allPosts = Astro.fetchContent<MarkdownFrontmatter>('./blog/**/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());
---

<Layout content={{ title, description, permalink }}>
  <body>
    <div class="layout">
      <article class="content">
        <section>
          {allPosts.map(p => <BlogPostPreview post={p} />)}
        </section>
      </article>
    </div>
  </body>
</Layout>
