---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Discord"
  description="An invite to join Clarkio's community on Discord"
  keywords="clarkio, discord, invite, community"
>
  <h1>Discord Invite</h1>
  <p>Redirecting to the invite link...</p>
  <p>If you're not automatically redirected use this <a href="https://discord.gg/GHuM3NC">link</a></p>
</BaseLayout>
<script>
  window.location.replace('https://discord.gg/GHuM3NC');
</script>
