---
import BaseLayout from '../layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
import profilePhoto from '../images/clarkio-profile-photo.avif'
---

<BaseLayout
  title="Brian Clark"
  description="Developer advocate and content creator who loves to learn new things and share them."
  keywords="clarkio, developer, developer advocate"
>
  <div class="heroContainer">
    <div class="heroText">
      <span>Hey, it's me! Brian Clark.</span>
      <h1>
        Developer advocate and content creator who loves to learn new things and
        share them. I enjoy building tools to automate the boring stuff,
        teaching about application security and sharing development tips and
        tricks.
      </h1>
      <a href="/about/" class="about">Read more about me &rarr;</a>
      <button data-confetti-button>Celebrate!</button>
    </div>
    <Image
      src={profilePhoto}
      alt="Clarkio's Profile Photo"
      quality={80}
      widths={[200, 400, 600]}
      sizes={`(max-width: 360px) 200px,
      (max-width: 720px) 400px,
      (max-width: 1600px) 600px`}
    />
  </div>

  <style>
    button[data-confetti-button] {
      outline: none;
      cursor: pointer;
      border: none;
      background: none;
      color: rgb(0 0 255 / 0.75);
      font-size: 1rem;
      padding: 1rem 1rem 1rem 0;
      width: fit-content;
    }
    .heroContainer {
      place-items: center;
      display: grid;
      gap: 4rem;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      padding: 3rem 0;
      width: 100%;
    }

    .heroText {
      display: grid;
      gap: 1rem;
    }

    @media (max-width: 510px) {
      .heroText {
        justify-items: center;
        text-align: center;
      }
    }

    .heroText span {
      color: rgb(0 0 255);
      font-size: clamp(1.5rem, 2vw, 2rem);
      font-weight: 700;
    }

    :global(.dark) .heroText span {
      color: rgb(72 191 254 / 0.75);
    }

    h1 {
      color: #000;
      font-weight: 400;
      font-size: 1rem;
    }

    :global(.dark) h1 {
      color: rgb(255 255 255 / 0.75);
    }

    img {
      object-fit: cover;
      box-shadow: 32px 32px 0px rgba(0 0 0 / 0.12);
      max-width: 300px !important;
    }

    :global(.dark) img {
      box-shadow: 32px 32px 0px rgba(255 255 255 / 0.1);
    }

    .about {
      color: rgb(0 0 255);
      display: inline-block;
      font-weight: 600;
      text-decoration: none;
    }

    .about:hover {
      text-decoration: underline;
    }

    :global(.dark) .about {
      color: rgb(255 255 255 / 0.75);
    }

    :global(.dark) .about:hover {
    }
  </style>
</BaseLayout>

<script>
  // Import npm modules.
  import confetti from 'canvas-confetti'

  // Find our component DOM on the page.
  const buttons = document.querySelectorAll('[data-confetti-button]')

  // Add event listeners to fire confetti when a button is clicked.
  buttons.forEach((button) => {
    button.addEventListener('click', () =>
      confetti({
        particleCount: 100,
        startVelocity: 30,
        resize: true,
        spread: 360,
        origin: {
          x: Math.random(),
          // since they fall down, start a bit higher than random
          y: Math.random() - 0.2
        }
      })
    )
  })
</script>
