---
// Component Imports
import Layout from '../layouts/Main.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';

interface MarkdownFrontmatter {
  publishDate: number;
}


let title = 'Clarkio';
let description = 'I\'m Brian Clark and I go by clarkio on the interwebs. I run this site and author the content shared on it. I work in Developer Relations and create educational content on programming and tech. I live stream weekly, learning in public so stop by some time and join us.';
let permalink = 'https://clarkio.com/';


let allPosts = Astro.fetchContent<MarkdownFrontmatter>('../**/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());

---
<Layout content={{ title, description, permalink }}>
  <div class="content">
    <div>
      <p class="bio">
        <span>Hello!</span> I’m Brian, and this is my website. It was made using{' '}
        <a href="https://github.com/snowpackjs/astro" target="_blank" rel="noopener">Astro</a>, a new way to build static sites.
      </p>
      <p>
        <a href="/about">Read more about Clarkio to get to know him</a>
      </p>
    </div>
    <div>
      <h3 class="sectionTitle">Latest Blog Post:</h3>
      <article>
        <section>
          <BlogPostPreview post={allPosts[0]} />
        </section>
      </article>
    </div>
    <!-- <div class="section">
        <h3 class="sectionTitle">Selected Work</h3>
        <PortfolioPreview project={featuredProject} />
        <div class="tac mt4">
          <a href="/projects">
            View All
          </a>
        </div>
    </div> -->
  </div>
</Layout>
