---
import BaseLayout from '../layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
import profilePhoto from '../images/clarkio-profile-photo.avif'
---

<BaseLayout
	title="Brian Clark"
	description="Developer advocate and content creator who loves to learn new things and share them."
	keywords="clarkio, developer, developer advocate"
>
	<div class="heroContainer">
		<div class="heroText">
			<span>Hey, it's me! Brian Clark.</span>
			<h1>
				Developer advocate and content creator who loves to learn new things and
				share them. I enjoy building tools to automate the boring stuff,
				teaching about application security and sharing development tips and
				tricks.
			</h1>
			<a href="/about/" class="about">Read more about me &rarr;</a>
		</div>
		<Image
			src={profilePhoto}
			alt="Clarkio's Profile Photo"
			quality={80}
			widths={[200, 400, 600]}
			sizes={`(max-width: 360px) 200px,
      (max-width: 720px) 400px,
      (max-width: 1600px) 600px`}
		/>
	</div>

	<style>
		.heroContainer {
			display: grid;
			grid-template-columns: 1fr;
			gap: 4rem;
			width: 100%;
			padding: 1rem 0;
		}

		.heroText span {
			color: rgb(0 0 255);
			font-size: clamp(1.75rem, 2vw, 2rem);
			font-weight: 700;
		}

		:global(.dark) .heroText span {
			color: rgb(72 191 254 / 0.75);
		}

		h1 {
			color: #000;
			font-weight: 400;
			font-size: clamp(1rem, 2vw, 1.25rem);
			margin: 2rem 0;
		}

		:global(.dark) h1 {
			color: rgb(255 255 255 / 0.75);
		}

		img {
			object-fit: cover;
			box-shadow: 32px 32px 0px rgba(0 0 0 / 0.12);
			max-width: 400px !important;
		}

		:global(.dark) .profile-photo {
			box-shadow: 32px 32px 0px rgba(255 255 255 / 0.05);
		}

		.about {
			color: rgb(0 0 255 / 0.5);
			display: inline-block;
			font-weight: 600;
			text-decoration: none;
		}

		.about:hover {
			color: rgb(0 0 255 / 1);
			text-decoration: underline;
		}

		:global(.dark) .about {
			color: rgb(255 255 255 / 0.5);
		}

		:global(.dark) .about:hover {
			color: rgb(255 255 255 / 0.75);
		}

		@media (min-width: 700px) {
			.heroContainer {
				place-items: center;
				grid-template-columns: auto 400px;
				padding: 60px 1rem;
			}
		}
	</style>
</BaseLayout>
