---
import Layout from '../layouts/Main.astro';

let title = 'Clarkio | Projects';
let description = 'Learn about projects clarkio has worked on.'
let permalink = 'https://clarkio.com/projects';
---

<Layout content={{ title, description, permalink }}>
  <div class="content">
    Learn about projects Clarkio has worked on.
  </div>
</Layout>
