---
import Logo from '../components/Icons/Logo.astro'
import WosBaseLayout from '../layouts/WosBaseLayout.astro'
---

<WosBaseLayout
  title="Clarkio's Words on Stream Tool"
  description="Clarkio's Words on Stream Tool"
  keywords="clarkio, words on stream, wos, twitch, streaming, helper, wordsonstream, tool"
>
  <div id="logo-container-id" class="logo-container">
    <a href="/">
      <div class="logo dark">
        <Logo name="Logo" />
      </div>
    </a>

    <h2>Clarkio's Words on Stream Tool</h2>
  </div>
  <h2>
    The tool has moved to <a href="https://wosplus.com">https://wosplus.com</a>
  </h2>
</WosBaseLayout>

<style>
  a {
    color: var(--color-accent);
  }
</style>
