---
import Author from './Author.astro';

export interface Props {
  title: string;
  author: string;
  publishDate: string;
  heroImage: string;
  alt: string;
}

const { title, author, publishDate, heroImage, alt } = Astro.props;
---

<div class="layout">
  <article class="content">
    <div>
      <header class="post-header">
        {heroImage && <img width="720" height="420" class="hero-image" loading="lazy" src={heroImage} alt={alt} />}
        <h1>{title}</h1>
        <p class="publish-date">{publishDate}</p>
        <Author name="@Clarkio" href="https://twitter.com/_clarkio" />
      </header>
      <main>
        <slot />
      </main>
    </div>
  </article>
</div>

<style>

.post-header {
  text-align: center;
}

</style>
