<header class="layout">
  <article>
    <h1>
      <a href="/">
        <span>Clarkio</span>
      </a>
      <span> | </span>
      <a href="/blog">
        <span>Blog</span>
      </a>
    </h1>
    <h1>

    </h1>
  </article>
</header>

<style>
header {

}
article {

}
.header-subitem {

}
.header-subitem:hover {

}
.header-subitem svg {

}

@media (max-width: 32em) {
  .header-subitem {

  }
}

h1 {

}

.logo {

}

svg {

}

h1 a {

}
</style>
