---
const year = new Date().getFullYear()
import Rss from './Icons/Rss.astro'
import Xitter from './Icons/Xitter.astro'
import Twitch from './Icons/Twitch.astro'
import Github from './Icons/Github.astro'
import Youtube from './Icons/Youtube.astro'
import Instagram from './Icons/Instagram.astro'
import Tiktok from './Icons/Tiktok.astro'
---

<footer>
  <span class="bri"
    ><a href="https://astro.build" target="_blank" rel="noreferrer noopener"
      >🚀 Built with Astro</a
    ><span class="copy">| © {year} Brian Clark</span></span
  >
  <div class="socials">
    <a href="/rss.xml">
      <Rss />
    </a>
    <a
      class="xIcon"
      href="https://twitter.com/_clarkio"
      target="_blank"
      rel="noreferrer noopener"
    >
      <Xitter />
    </a>
    <a
      href="https://www.twitch.tv/clarkio"
      target="_blank"
      rel="noreferrer noopener"
    >
      <Twitch />
    </a>

    <a
      href="https://github.com/clarkio"
      target="_blank"
      rel="noreferrer noopener"
    >
      <Github />
    </a>

    <a
      href="https://www.youtube.com/c/Clarkio"
      target="_blank"
      rel="noreferrer noopener"
    >
      <Youtube />
    </a>

    <a
      href="https://instagram.com/_clarkio"
      target="_blank"
      rel="noreferrer noopener"
    >
      <Instagram />
    </a>
    <a
      href="https://tiktok.com/@clarkio"
      target="_blank"
      rel="noreferrer noopener"
    >
      <Tiktok />
    </a>
  </div>
  <a
    class="dg"
    href="https://dhanishgajjar.com"
    target="_blank"
    rel="noreferrer noopener">DG</a
  >
</footer>

<style>
  footer {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 4rem 0;
  }

  .socials {
    display: flex; /* Change display to flex */
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: center; /* Center items horizontally */
    gap: 2rem; /* Add gap between items */
  }
  a,
  a {
    color: black;
    font-weight: unset;
  }

  .bri,
  .copy,
  a.dg {
    font-size: 14px;
  }

  ::global(.dark) .bri a,
  ::global(.dark) .copy,
  ::global(.dark) a.dg {
    color: rgb(255 255 255 / 0.75);
  }

  @media (max-width: 768px) {
    footer {
      gap: 2rem;
    }

    footer span.bri {
      grid-column-start: 1;
      grid-column-end: -2;
    }
    .socials {
      display: flex; /* Change display to flex */
      flex-wrap: wrap; /* Allow items to wrap to the next row */
      justify-content: center; /* Center items horizontally */
      order: -1;
      grid-column: 1 / -1;
      gap: 2rem; /* Add gap between items */
    }
    footer .dg {
      grid-column: -2 / -1;
    }
  }
  @media (max-width: 350px) {
    footer {
      justify-items: center;
      grid-template-columns: 1fr;
    }

    .bri,
    .copy,
    .dg {
      font-size: 12px;
    }
  }
</style>
