---
const currentPath = Astro.url.pathname
import Logo from './Icons/Logo.astro'
import ThemeToggle from './Icons/ThemeToggle.astro'
---

<header class="mainNav">
  <a href="/">
    <div class="logo">
      <Logo name="Logo" />
    </div>
  </a>
  <button aria-controls="menu" aria-expanded="false"></button>
  <nav>
    <ul>
      <li>
        <a class={currentPath === '/blog/' ? 'active' : ''} href="/blog/"
          >Blog</a
        >
      </li>

      <li>
        <a
          class={currentPath === '/projects/' ? 'active' : ''}
          href="/projects/">Projects</a
        >
      </li>

      <li>
        <a class={currentPath === '/about/' ? 'active' : ''} href="/about/"
          >About</a
        >
      </li>

      <li>
        <a class={currentPath === '/uses/' ? 'active' : ''} href="/uses/"
          >Uses</a
        >
      </li>

      <li>
        <a
          class={currentPath === '/stream-tools/' ? 'active' : ''}
          href="/stream-tools/">Stream tools</a
        >
      </li>
    </ul>
  </nav>
  <ThemeToggle />
</header>

<style>
  .shrink {
    padding: 1rem 1rem 1rem 1rem;
  }
  header {
    background-color: rgb(255 255 255 / 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: grid;
    gap: 1rem;
    grid-template-columns: 48px 1fr auto;
    align-items: center;
    padding: 4rem 1rem 1rem 1rem;
    position: sticky;
    max-width: 960px;
    margin: auto;
    top: 0;
    transition: padding 0.5s ease;
  }
  ::global(.dark) header {
    background-color: rgb(22 22 37 / 50%);
  }

  button[aria-expanded] {
    display: none;
  }

  nav ul {
    display: flex;
    list-style: none;
    justify-content: end;
    padding: 0;
  }

  nav li a,
  nav li a:visited {
    display: inline-block;
    color: rgb(0 0 255 / 50%);
    font-weight: 600;
    margin-left: 1rem;
    text-decoration: none;
  }

  :global(.dark) nav li a,
  :global(.dark) nav li a:visited {
    color: rgb(255 255 255 / 0.5);
  }

  nav li a:hover,
  nav li a:focus,
  nav li a.active {
    color: rgb(0 0 255 / 1);
    text-decoration: underline;
  }

  :global(.dark) nav li a:hover,
  :global(.dark) nav li a.active {
    color: rgb(255 255 255 / 0.75);
  }

  @media (max-width: 565px) {
    header {
      grid-template-columns: 36px 1fr auto;
      padding: 1rem 1rem 0 1rem;
      box-shadow: 0 0.5rem 6rem 0 rgb(0 0 0 / 24%);
    }

    ::global(.dark) header {
      box-shadow: 0 0.5rem 6rem 0 rgb(0 0 255 / 50%);
    }
    button[aria-expanded] {
      background: none;
      border: none;
      cursor: pointer;
      display: inline-block;
      height: 24px;
      margin-left: auto;
      outline: none;
      padding: 0;
      position: relative;
      width: 24px;
    }

    button[aria-expanded='false']:before,
    button[aria-expanded='false']:after,
    button[aria-expanded='true']:before,
    button[aria-expanded='true']:after {
      background: #333;
      bottom: 0;
      content: '';
      height: 2px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
      width: 100%;
    }

    ::global(.dark) button[aria-expanded='false']:before,
    ::global(.dark) button[aria-expanded='false']:after,
    ::global(.dark) button[aria-expanded='true']:before,
    ::global(.dark) button[aria-expanded='true']:after {
      background: rgb(255 255 255 / 0.5);
    }

    button[aria-expanded='false']:before {
      transform: translateY(-5px) rotate3d(0, 0, 0, 45deg);
    }

    button[aria-expanded='false']:after {
      transform: translateY(5px) rotate3d(0, 0, 0, -45deg);
    }

    button[aria-expanded='true']:before {
      transform: translateY(0px) rotate3d(0, 0, 1, 45deg);
    }

    button[aria-expanded='true']:after {
      transform: translateY(0px) rotate3d(0, 0, 1, -45deg);
    }

    button[aria-expanded='false']:before {
      transform: translateY(-5px) rotate3d(0, 0, 0, 45deg);
    }

    button[aria-expanded='false']:after {
      transform: translateY(5px) rotate3d(0, 0, 0, -45deg);
    }

    button[aria-expanded='true']:before {
      transform: translateY(0px) rotate3d(0, 0, 1, 45deg);
    }

    button[aria-expanded='true']:after {
      transform: translateY(0px) rotate3d(0, 0, 1, -45deg);
    }

    nav {
      order: 4;
      grid-column: 1 / -1;
      align-items: center;
      display: grid;
      grid-template-columns: 1fr;
      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.5s ease-in-out;
    }

    nav ul {
      display: grid;
      grid-gap: 20px;
      justify-content: center;
      margin: 0;
      padding: 0 0 3rem 0;
      width: 100%;
    }

    ul li {
      text-align: center;
    }

    nav ul li a,
    nav ul li a:visited {
      margin-left: 0;
    }

    ul li:nth-child(1) {
      opacity: 0;
      transition: opacity 0.2s 0.1s ease-in;
    }

    ul li:nth-child(2) {
      opacity: 0;
      transition: opacity 0.2s 0.2s ease-in;
    }

    ul li:nth-child(3) {
      opacity: 0;
      transition: opacity 0.2s 0.3s ease-in;
    }

    li:nth-child(4) {
      opacity: 0;
      transition: opacity 0.2s 0.4s ease-in;
    }

    ul li:nth-child(5) {
      opacity: 0;
      transition: opacity 0.2s 0.5s ease-in;
    }

    [aria-expanded='true'] ~ nav {
      max-height: 300px;
    }

    [aria-expanded='true'] ~ nav ul li {
      opacity: 1;
      padding: 0;
    }

    [aria-expanded='false'] ~ nav {
      max-height: 0px;
    }

    [aria-expanded='false'] ~ nav ul li {
      opacity: 0;
      padding: 0;
    }
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const navButtons = [...document.querySelectorAll('button[aria-expanded]')]
    const header: Element | null = document.querySelector('.mainNav')

    function toggleNav() {
      const expanded = this.getAttribute('aria-expanded') === 'true' || false
      this.setAttribute('aria-expanded', !expanded)
    }

    navButtons.forEach((button) => {
      button.addEventListener('click', toggleNav)
    })

    function handleResize(entries) {
      const { contentRect } = entries[0]
      const isHeaderShrinkable = contentRect.width > 534

      if (isHeaderShrinkable) {
        const shouldShrink = window.scrollY > 50
        header?.classList.toggle('shrink', shouldShrink)
        window.addEventListener('scroll', handleScroll)
      } else {
        header?.classList.remove('shrink')
        window.removeEventListener('scroll', handleScroll)
      }
    }

    function handleScroll() {
      const shouldShrink = window.scrollY > 50
      header?.classList.toggle('shrink', shouldShrink)
    }

    const resizeObserver = new ResizeObserver(handleResize)
    resizeObserver.observe(header)

    // Call handleResize immediately to set initial state
    handleResize([{ contentRect: header.getBoundingClientRect() }])
  })
</script>
