---
const currentPath = Astro.url.pathname
import Icons from './Icons/Logo.astro'
import ThemeToggle from './Icons/ThemeToggle.astro'
---

<div class="header">
	<a href="/">
		<Icons name="Logo" />
	</a>
	<nav>
		<a class={currentPath === '/blog/' ? 'active' : ''} href="/blog/">Blog</a>

		<a class={currentPath === '/projects/' ? 'active' : ''} href="/projects/"
			>Projects</a
		>

		<a class={currentPath === '/about/' ? 'active' : ''} href="/about/">About</a
		>

		<a class={currentPath === '/uses/' ? 'active' : ''} href="/uses/">Uses</a>

		<a
			class={currentPath === '/stream-tools/' ? 'active' : ''}
			href="/stream-tools/">Stream Tools</a
		>
	</nav>
	<ThemeToggle />
</div>

<style>
	.header {
		display: grid;
		gap: 1rem;
		grid-template-columns: 1fr;
		justify-items: start;
	}

	nav {
		display: flex;
		align-items: center;
	}

	a,
	a:visited {
		color: rgb(0 0 255 / 50%);
		font-weight: 600;
		margin-right: 1rem;
		text-decoration: none;
	}

	:global(.dark) a,
	:global(.dark) a:visited {
		color: rgb(255 255 255 / 0.5);
	}

	a:hover,
	a:focus,
	.active {
		color: rgb(0 0 255 / 1);
		text-decoration: underline;
	}

	:global(.dark) a:hover,
	:global(.dark) .active {
		color: rgb(255 255 255 / 0.75);
	}

	@media (min-width: 700px) {
		.header {
			align-items: center;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 60px 0;
		}

		nav a {
			margin-left: 1rem;
			margin-right: 0;
		}
	}
</style>
