---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav/Nav.astro';
import Footer from '../components/Footer/Footer.astro';

const { content } = Astro.props;
---

<html lang={ content.lang || 'en' }>
  <head>
    <MainHead title={content.title} description={content.description} permalink={content.permalink} />

    <title>{content.title}</title>
  </head>
  <body>
    <Nav/>
    <slot/>
    <Footer />
  </body>
</html>
